/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-serif-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-serif-v23-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* libre-baskerville-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 
in chrome the entire content shifts left when the scrollbar appears and all ways to fix it suck
- overflow-y: scroll; always shows the scrollbar, ugly
- scrollbar-gutter: stable; doesn't apply to certain components for annoying reasons
    and makes the horizontal borders look bad, also it doesn't work on safari
- setting padding-left: calc(100vw - 100%); or similars doesn't work with everything
    and it messes up things that already have padding and or margin
- width: 100vw; works but it shows the horizontal scrollbar which is ugly

so I just used width: 100vw; and overflow-x: hidden; to hide the horizontal scrollbar
since I don't need it here and I think it's not going to cause problems hopefully
*/

html,
body {
    overflow-x: hidden;
}

#root,
.mantine-AppShell-header {
    width: 100vw;
}

a {
    color: var(--mantine-color-text);
}

a:hover {
    color: var(--mantine-primary-color-filled);
}

a:active {
    color: var(--mantine-primary-color-filled-hover);
}

.dimmedA {
    color: var(--mantine-color-dimmed);
    text-decoration-color: var(--mantine-color-dimmed);
}

.dimmedA:hover {
    color: var(--mantine-primary-color-filled);
    text-decoration-color: inherit;
}

.dimmedA:active {
    color: var(--mantine-primary-color-filled-hover);
    text-decoration-color: inherit;
}